# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs and databases
*.log
*.sql
*.sqlite

# Other
*.swp
.DS_Store
*.bak
*.tmp

# CloudFormation
*.template
*.stack
*.outputs
